.verifysectionbg {
    height: 479px;
    margin-left: -177px;
    background-repeat: no-repeat;
}

.headFormsections {
    font-family: 'inter';
    font-style: semi-bold;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-top: 100px;
}

.formcs {
    width: 400px;
}

.fs {
    font-family: 'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
}

.btn-primary-verify {
    background: linear-gradient(272.51deg, #B32973 -7.14%, #050A24 84.59%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    color: #FFFFFF;
    width: 250px;
    justify-content: center;
}

.btn-verify {
    margin-left: 40px;
}

@media only screen and (max-width: 600px) {
    .headFormsections {
        font-family: 'inter';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        padding-top: 100px;
    }

    .formcs {
        width: 300px;
    }

    .fs {
        font-family: 'inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        display: flex;
        align-items: center;
    }

    .btn-primary-verify {
        background: linear-gradient(272.51deg, #B32973 -7.14%, #050A24 84.59%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 19px;
        color: #FFFFFF;
        width: 250px;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .btn-verify {
        display: flex;
        align-items: center;
    }
}

.verifysectionpage {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 479px;
    width: 100%;
    margin-top: -80px
}

.findmore {
    position: absolute;
    width: 212px;
    height: 54px;
    left: 116px;
    top: 930px;
    background: linear-gradient(272.51deg, #B32973 -7.14%, #050A24 84.59%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    font-family: 'inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 88%;
    color: #FFFFFF;
}

@media only screen and (max-width: 600px) {
    .mobileviewVerify img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin-top: -30px;
    }

    .verifysectionpage {
        display: none;
    }

    .findmoremob {
        position: absolute;
        width: 95px;
        height: 24px;
        left: 25px;
        top: 92%;
        background: linear-gradient(272.51deg, #B32973 -7.14%, #050A24 84.59%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 19px;
        font-family: 'inter';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 88%;
        color: #FFFFFF;
    }
}

@media only screen and (min-width: 600px) {
    .laptopviewVerify img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin-top: -30px;
        display: none;
    }

    .mobimg {
        display: none;
    }

    .findmoremob {
        display: none;
    }
}